
#adventage{
  width: 100%;
  background: #ffffff;
  height: 470px;
}
.adv_title{
  padding: 30px;
  h2{
  text-align: center;
    
  }
}

  .card{
    text-align:center;
    /* Быстрый и Качественн: */
p {    font-size: 20px;
    color: #222222;
    margin: 30px 0;}
  }



